*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.hex
*.tra
*.dep
*.iex
*.map
*.swp
.DS_Store
MDK-ARM/*/*.htm
MDK-ARM/*/*.build_log.htm
MDK-ARM/DebugConfig/*